<div style="background-color: black;" class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-4 my-4">
        <div class="row my-4 mx-4">
            <div class="col-lg-6 col-md-4 col-sm-12 col-12">
                <p class="footer_head"><i class="fa fa-bolt"></i>POWERBLOG</p>
                <p class="footer_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu ultrices ligula. Fusce a velit dolor. Nulla facilisi. Maecenas ut neque tempor, dictum lacus id, lobortis nisi. Proin egestas metus est, eget mollis augue ullamcorper eget.</p>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <p style="color:rgb(172, 172, 172);"><strong>Menu</strong></p>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="footer_content"><a class="anchor_footer_con" href="#"><strong>About</strong></a></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="footer_content"><a class="anchor_footer_con" href="#"><strong>Contact us</strong></a></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="footer_content"><a class="anchor_footer_con" href="#"><strong>Privacy policy</strong></a></p>
                    </div> 
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                <p style="color:rgb(172, 172, 172);"><strong>Support</strong></p>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="footer_content"><a class="anchor_footer_con" href="#"><strong>Style Guide</strong></a></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="footer_content"><a class="anchor_footer_con" href="#"><strong>License</strong></a></p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="footer_content"><a class="anchor_footer_con" href="#"><strong>Changelog</strong></a></p>
                    </div> 
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                <p style="color:rgb(172, 172, 172);"><strong>Follow us</strong></p>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-3"><p class="footer_content"><a class="anchor_footer_con" href="#"><strong><i style="font-size:150%;" class="fa fa-twitter"></i></strong></a></p></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-3"><p class="footer_content"><a class="anchor_footer_con" href="#"><strong><i style="font-size:150%;"  class="fa fa-instagram"></i></strong></a></p></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-3"><p class="footer_content"><a class="anchor_footer_con" href="#"><strong><i style="font-size:150%;"  class="fa fa-facebook"></i></strong></a></p></div>
                </div>
            </div>
        </div>
        <hr style="color:white;">
        <div>

        </div>
    </div>